<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home">Home</a></li>
        <li ><a routerLink="/connection/logs">Connection Logs</a></li>
        <li ><a routerLink="#">Device events</a></li>
        <li ><a routerLink="#">Connection Status</a></li>
        <li ><a routerLink="#">Device Errors</a></li>
        <li ><a routerLink="#">Water Dispense</a></li>
        <li ><a routerLink="#">Total Water Dispense</a></li>
        <li ><a routerLink="#">Water Balance</a></li>
        <li ><a routerLink="#">Vendor Name</a></li>
        <li ><a routerLink="#">App Version</a></li>
        <li ><a routerLink="#">Last Login Status</a></li>
      </ul>
    </div>
  </nav>
